@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Poppins:wght@900&family=Roboto&display=swap');

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    --sb-track-color: #121039;
    --sb-thumb-color: #a7a7ff;
    --sb-size: 12px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 4px solid #121039;
}

a{
    color: white;
    text-decoration: none;
}

body {
    color: white;
    overflow-x: hidden;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    /* background with max compatibility */
    background: rgb(2, 0, 36);
}

.main::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    pointer-events: none;
    z-index: -1;
    height: 100vh;
    background: url("./background1.svg") no-repeat center center/cover;
    opacity: 0.1;
}

.container {
    width: 95%;
    max-width: 1250px;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 1.5rem;
    z-index: 3;


    animation-name: top;
    animation-duration: 0.5s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;


    opacity: 0;
}

@Keyframes top {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1rem 2rem;
    border-radius: 7px;
    gap: 2rem;
    margin-inline: 2rem;
    background-color: rgb(39, 28, 78);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

li {
    font-family: "Jost";
    color: rgb(209, 208, 238);
    transition: all 0.2s;
}

li:hover{
    color: white;
}

.logo {
    font-size: 2rem;
    font-family: "Poppins";
    width: 200px;
    text-align: center;
}


.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.h1 {
    font-size: 7rem;
    position: relative;
    font-family: "poppins";

    color: rgb(167, 167, 255);
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 40px #a7a7ff46;

    animation-name: bottom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 50ms;

    opacity: 0;
}

@keyframes bottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.h1::after {
    content: "Media Group";
    position: absolute;
    bottom: 0px;
    right: 70px;
    font-size: 1.5rem;
    font-family: "Jost";
    pointer-events: none;
}

.h1::before {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -500px;
    width: 110%;
    height: 110%;
    background: url("./undraw_fun-arrow.svg") no-repeat center center;
    rotate: 30deg;
    pointer-events: none;
}

.para-box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;
    background-color: rgba(27, 21, 51, 0.719);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.308), 0px 50px 100px #a7a7ff1e;

    max-width: 70ch;
    width: 95%;


    animation-name: bottom2;
    animation-duration: 0.5s;
    animation-delay: 0.35s;
    animation-fill-mode: forwards;


    opacity: 0;
}

@keyframes bottom2 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.para {
    font-size: 1.1rem;
    color: rgb(209, 208, 238);
    font-family: "jost";
    position: relative;
}

.para::before {
    content: "";
    position: absolute;
    bottom: 280px;
    right: -340px;
    width: 100%;
    height: 100%;
    background: url("./arrow.svg") no-repeat center center;
    pointer-events: none;
    rotate: -230deg;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn {
    padding: 0.5rem 2rem;
    background-color: #a7a7ff;
    color: #161616;
    font-family: "Poppins";
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 3px 5px #161616, 5px 7px #a7a7ff;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.btn:hover {
    box-shadow: 0px 10px 100px #a7a7ff1e;
    transform: translate(5px, 7px);

}


.socials {
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}



.title {
    font-size: 5rem;
    font-family: "poppins";
    color: #645fb9;
}

.socials-box {
    justify-content: center;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgba(27, 21, 51, 0.719);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.308), 0px 50px 100px #a7a7ff1e, ;
}

.socials-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    margin-block: 3rem;
}

.para2 {
    font-size: 1.1rem;
    color: rgb(209, 208, 238);
    font-family: "jost";
    position: relative;
}

.b1 {
    width: 40%;
}

.socials-buttons {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.s-button {
    padding: 0.5rem 1rem;
    background-color: #a7a7ff;
    border-radius: 7px;
    color: black;
    font-family: "poppins";
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.308);
}

.s-button:hover {
    transform: translateX(30px);
    box-shadow: 0px 0px 40px #a7a7ff85, 0px 10px 5px rgba(0, 0, 0, 0.308);
}


.join {
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-block: 10rem;
}

.join-content {
    margin-block: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.join-box {
    max-width: 380px;
    width: 95%;
    display: grid;
    grid-auto-flow: row;

    grid-template-rows: 0.5fr 1fr;

    min-height: 370px;

    gap: 2rem;
    padding: 2rem;
    background-color: rgba(27, 21, 51, 0.719);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.308), 0px 50px 100px #a7a7ff1e;
}

.box-title {
    font-size: 1.5rem;
    font-family: "jost";
    text-align: center;

}

.box-para {
    font-family: "jost";
}

.j-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

ion-icon {
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.staff {
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-block: 5rem;
}


.staff-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block: 4rem;
}

.staff-box {
    width: 95%;
    max-width: 400px;
    padding: 1rem;
    background-color: rgba(27, 21, 51, 0.719);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.308), 0px 50px 100px #a7a7ff1e;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.s-img {
    grid-row: 1/ 3;
    grid-column: 1/2;
    width: 100px;
}

.s-name {
    grid-column: 2/4;
    font-size: 2rem;
    font-family: "jost";
}

.s-info {
    grid-column: 2/4;
    color: #a7a7ff;
    font-family: "jost";
}

.h12 {
    display: none;
}

@media only screen and (max-width: 800px) {
    .navbar {
        display: none;
    }

    .title {
        font-size: 3rem;
    }

    .socials {
        margin-top: 5rem;
    }

    .socials-content {
        flex-direction: column;
    }

    .b1,
    .b2 {
        width: 100%;
    }

    .socials-buttons {
        width: 95%;
    }

    .s-button {
        width: 95%
    }

    .h1 {
        display: none
    }

    .h12 {
        display: block;
        font-size: 4rem;
        font-family: "poppins";

        color: rgb(167, 167, 255);
        position: relative;
        text-align: center;
        text-shadow: 0px 0px 40px #a7a7ff46;

        animation-name: bottom;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 50ms;

        opacity: 0;
    }
    .buttons{
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
    .buttons .btn{
        width: 100%;
    }
    .para-box .para{
        text-align: center;
    }
}