*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Jost';
    overflow: hidden;
    user-select: none;
}

.main{
    background: url("./img/bgmain.svg") no-repeat center center/cover;
    width: 100%;
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

.h1{
    font-family: 'Jost';
    margin: 2rem;
    font-size: 5rem;
    background: linear-gradient(90deg, rgba(255,28,49,1) 0%, rgba(132,11,164,1) 36%, rgba(81,73,251,1) 58%, rgba(0,176,160,1) 83%, rgba(206,22,182,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 400%;
    background-position: -100%;

    animation: animatedText 4s infinite;
}

@keyframes animatedText{
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}

.para{
    margin: 1rem 2rem;
    font-size: 25px;
    font-family: 'Jost';
    color: lightgray;
}

span{
    color: white;
}
.header{
    display: flex;
    flex-direction: column;
}
.more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0rem 2rem;
    display: none;
}


.projects-button{
    font-size: 50px;
    color: lightgray;
    font-family: 'Reenie Beanie';
    margin: 2rem;
    border-radius: 10px; 
    position: relative;
    display: flex;
}

.contacts{
    width: 0;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.692);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    align-items: center;
    transition: all 1s;
}

.hidden{
    display: block;
}

