*{
    user-select: none;
}

.main{
    flex-direction: column;
    overflow-x: hidden;
}

body{
    background-attachment: fixed;
}

.title-box{
    width: 90vw;
}



.ipbox{
    width: 80vw;
    font-size: 1.3rem;
    padding: 0.5rem
}

.ipbox img{
    width: 25px;
}

#para{
    width: 100%;
    height: 100%;
}

.divline{
    width: 100%;
}

.dc{
    margin: auto;
    width: 90%;
    margin-bottom: 1rem;
}