@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Jost&family=Roboto:wght@500&family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Jost";
    color: white;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {

    background: #FA8B2F;
}

::-webkit-scrollbar-thumb:hover {
    background: #ca7026;
}


::-webkit-scrollbar-thumb:active {
    background: #7e4516;
}




a {
    text-decoration: none;
}

body {
    background-color: #161616;
    overflow-x: hidden;
}

.menu {
    display: none;
}


.splash {
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation: fade-out 3s;
    font-family: 'Roboto';
    color: black;
    z-index: 100;
    pointer-events: none;
    position: absolute;
    background-color: #161616;
    opacity: 0;
    position: fixed;
    top: 0px;
}

.splash-text-h1 {
    font-size: 60px;
    font-family: nos;
    color: var(--para-color);
    line-height: 60px;
}

.splash-para {
    font-size: 1.3rem;
    font-family: 'Source code pro';
    color: var(--para-color);
    margin: 1rem;
    letter-spacing: 3px;
    color: #FA8B2F;
    margin-top: 3rem;
}

/* From uiverse.io by @G4b413l */
.scanner h1 {
    color: transparent;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
}

.scanner h1::before {
    content: "Loading...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #fda965;
    overflow: hidden;
    color: #FA8B2F;
    animation: load91371 2s linear 1;
}

@keyframes load91371 {

    0%,
    10%,
    100% {
        width: 0;
    }

    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        border-right-color: transparent;
    }

    11%,
    21%,
    31%,
    41%,
    51%,
    61%,
    71%,
    81%,
    91% {
        border-right-color: #FA8B2F;
    }

    60%,
    80% {
        width: 100%;
    }
}

@keyframes fade-up-animation {
    0% {
        opacity: 0%;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 100%;
    }
}


@keyframes fade-up-animation-2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: all 0.2s;
    }
}

@keyframes fade-up-animation-3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: all 0.2s;
    }
}


@keyframes fade-out {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes intro {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




.main {}

.container {

    max-width: 1000px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.nav {
    display: flex;
    border-radius: 10px;
    background-color: #161616;
    z-index: 3;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.342);
    list-style: none;
}

li {
    font-size: 1rem;
    z-index: 3;
    transition: all 0.2s;
}

li:hover {
    color: #FA8B2F;
}

.head {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: fixed;
    top: 0px;
    z-index: 1;
    left: 0px;
}

.logo img {
    width: 300px;
    border-radius: 50%;
    border: 20px solid #161616;
    box-shadow: 18px 18px 36px #0f0f0f,
        -18px -18px 36px #1d1d1d;
    transition: all 0.3s;
    animation-name: fade-up-animation-2;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: translate(0px, 40px);
    opacity: 0;
}

.logo img:hover {
    box-shadow: 9px 9px 18px #0f0f0f,
        -9px -9px 18px #1d1d1d;
}

.head-info {
    width: 400px;
    opacity: 0;
    animation-name: fade-up-animation;
    animation-iteration-count: 1;
    animation-delay: 2.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: translate(0px, 40px);
    position: relative;
}

.head-info .para {
    font-size: 1.1rem;
}

.h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #FA8B2F;
}

.para {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem
}

.btn {
    background-color: #FA8B2F;
    color: black;
    border-radius: 7px;
    padding: 0rem 1rem;
    box-shadow: 3px 5px #161616, 5px 7px #FA8B2F;
    transition: all 0.2s;
    cursor: pointer;
    font-family: "Bungee";
}

.btn:hover {
    box-shadow: none;
    transform: translate(5px, 7px);
}

.h2 {
    text-align: center;
    margin: 3rem 0rem;
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: "Roboto";
}

.scrollimg {
    display: block;
    margin: auto;
    width: 20px;
    position: absolute;
    bottom: 35px;
    display: none;
}

.main-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100vh;
    background-color: #161616f5;
    border-radius: 70px 70px 0px 0px;
    z-index: 2;
    position: relative;
    margin-bottom: 2rem;

}

.main-content::before {
    height: 54px;
    content: "";
    display: block;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: auto;
}

.box {
    background-color: #252525;
    border-radius: 10px;
    /* backdrop-filter: blur(10px); */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.2s;
    user-select: none;
    /* border: 1px solid rgba(128, 128, 128, 0.171); */

}

.p-info {
    padding: 1rem 2rem;

}

.price:hover {
    transform: translate(7px, 9px);
    box-shadow: none;
}


.p-title {
    font-size: 2rem;
    background-color: #252525;
    /* text-shadow: 3px 4px 0px black; */
    color: #FA8B2F;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    font-family: "Bungee";
    border-bottom: 5px solid #161616;
    text-shadow: 0px 0px 20px #fa8a2f5d;

}

.features {
    list-style: none;
    padding: 1rem;
    border-radius: 10px;
    background: #161616;
}

.feature {}

.price {
    background-color: #161616;
    /* color: cyan; */
    margin: 1rem 0rem;
    font-size: 1.5rem;
    border: 3px solid #FA8B2F;
    text-align: center;
    border-radius: 10px;
    transition: all 0.2s;
    font-family: "Bungee";
    box-shadow: 3px 5px #161616, 5px 7px #FA8B2F, 0px 0px 10px #fa8a2f9d;
    color: #FA8B2F;
}

.f {
    color: #FA8B2F;
    display: inline;
}

.price:hover {
    background-color: #FA8B2F;
    color: #161616;
}

#particles-js {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.boxes2 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
}

.box2 {
    /* backdrop-filter: blur(5px); */
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.733);
    transition: all 0.2s;
    border: 3px solid #414141;
    position: relative;
}

.box2:hover {
    transform: translateY(-10px) scale(1.03);
}

.box2:hover img {
    filter: grayscale(0%);
}


#b1 {
    grid-column: 1/3;
}

#b2 {
    grid-column: 3/5;

}

#b3 {
    grid-column: 5/7;
}

#b4 {
    grid-row: 2/3;
    grid-column: 2/4;
}

#b5 {
    grid-row: 2/3;
    grid-column: 4/6;
}

.t-text {
    padding: 1rem;
    font-size: 1.1rem;
}

.t-author {
    font-size: 0.9rem;
    color: #FA8B2F;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}


.box2 .tbg {
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    filter: grayscale(50%);
    transform: all 0.2s;
    position: relative;
    /* border-bottom: 3px solid #414141; */
}

.star {
    width: 140px;
    margin: auto;
    margin-top: 1rem;
    display: block;
    position: absolute;
    top: 30px;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: #161616;
}

#close {
    display: none;
}

#b1 {}

#b2 {}

.h3 {
    font-size: 1.3rem;
    text-align: center;
    border-radius: 10px;
    color: #eca66d;
    margin-bottom: 1rem;
}

.contact {
    max-width: 1000px;
    width: 95%;
}

.contact-boxes {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.c-boxes {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 4px solid #414141;
    margin-bottom: 1rem;
    gap: 1rem;
    border-radius: 10px;
    position: relative;
}

.c-boxes::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background: url("./contactbg.svg") no-repeat center center/cover;
}

.c-box {
    border-radius: 10px;
    font-size: 1.6rem;
    display: flex;
    gap: 1rem;
    color: #FA8B2F;
    background-color: #161616;
    border: 3px solid #FA8B2F;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    padding: 0.5rem 1rem;
    width: 160px;
}

.dc {
    width: 40px;
    border-right: 4px solid #252525;
    padding-right: 1rem;
}

.c-box:hover {
    box-shadow: 0px 0px 30px #fa8a2f54;
}

.credit {
    width: 100vw;
    position: fixed;
    text-align: center;
    bottom: 0px;
    padding: 5px;
    background-color: #161616dc;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3000;
}

.testimonials::before {
    height: 54px;
    content: "";
    display: block;

}

input {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    z-index: -1;
}


#teams::before {
    content: "";
    display: block;
    height: 54px;
}


/* .teams-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
} */

/* .teams-container {
    display: flex;
    max-width: 550px;
    justify-content: center;
    align-items: center;
} */

/* .teams{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 31%;
    grid-gap: 1rem;
    overflow-x: auto;
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
}

.snaps-inline > *{
    scroll-snap-align: center;
}

.team-img{
    width: 70px;
    border-radius: 50%;
}
*/

.swiper {
    max-width: 700px;
    width: 80vw;
    padding: 0 2rem;
}

.swiper-wrapper {}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 1rem;
    padding: 1rem 0rem;
    background: #25252562;
    outline: 3px solid #252525;

    transition: all 200ms linear;
    transform: scale(0.8);

}

.swiper-slide-active{
    transform: scale(1);
}

.team-name {
    font-size: 1.5rem;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: transparent !important;
    color: #FA8B2F !important;
    fill: #FA8B2F !important;
    stroke: #FA8B2F !important;
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.349));
}

.swiper-button-next {}


.team-img {
    border-radius: 50%;
    width: 120px;
}

/* .left img, .right img{
    width: 50px;
    cursor: pointer;
}

.right img{
    transform: rotate(180deg);
}  */

@media only screen and (max-width: 900px) {
    * {
        user-select: none;
    }

    .container {
        width: 100vw;
        max-width: unset;
    }

    .navbar {
        display: none;
        background: #161616;
        position: relative;
    }

    .nav {
        flex-direction: column;
        width: 90vw;
        position: fixed;
        top: 0px;
        gap: 1rem;
        padding-top: 1rem;
    }

    li {
        font-size: 1.2rem;

    }

    .head {
        flex-direction: column;
        gap: 1rem;
    }

    .h1 {
        margin-bottom: 1rem;
    }


    .menu {
        display: inline-block;
        text-align: center;
        background: #161616;
        color: #FA8B2F;
        position: sticky;
        top: 0px;
        z-index: 90;
        left: 0px;
        width: 100%;
        padding: 1rem 0rem;

        font-size: 1.3rem;
        font-family: "Bungee";
    }

    #close {
        background: #161616;
        color: #FA8B2F;
        border-radius: 7px;
        transition: all 0.2s;
        width: 70%;
        padding: 0.5rem;
        cursor: pointer;
        font-family: "Bungee";
        text-align: center;
        margin-bottom: 0.5rem;
    }


    .head-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 370px;
        background: #0f0f0f4b;
        padding: 1rem 0rem;
    }

    .logo {}

    .logo img {
        width: 200px;
        box-shadow: 14px 14px 28px #0a0a0a,
            -14px -14px 28px #141414;
        border: 20px solid #0f0f0f;
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
    }

    .scrollimg {
        display: block;
    }

    .para {
        padding-bottom: 0;
        font-size: 1.2rem;
        margin-bottom: 0;
        padding: 0;
        margin: 0;
        width: 80%;
        text-align: center;
    }

    .p-info .para {
        width: 100%;
        padding-bottom: 1rem;
        text-align: left;

    }

    .buttons {
        margin: 1rem 0rem;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .boxes2 {
        display: flex;
        flex-direction: column;
        padding: 0rem 2rem;
    }

    .main-content {
        border-top: none;
        border-radius: 20px;
        margin-top: 90vh;
        background-color: #161616;
    }

    .p-title,
    .price {
        padding: 1rem 0rem;
    }

    .t-text {
        text-align: center;
    }

    .c-boxes {
        width: 80%;
    }

    .contact-boxes {
        flex-direction: column;
        gap: 0rem;
    }

    .c-box {
        font-size: 1.5rem;
        width: 200px;
        margin: 1rem 0rem;
        padding: 0.5rem 1rem;
        z-index: 100;
    }

    .dc {
        width: 30px;
        padding-right: 0.25rem;
    }

}