@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Jost&family=Roboto:wght@500&family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Jost";
    color: white;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {

    background: #FA8B2F;
}

::-webkit-scrollbar-thumb:hover {
    background: #ca7026;
}


::-webkit-scrollbar-thumb:active {
    background: #7e4516;
}




a {
    text-decoration: none;
}

body {
    background-color: #161616;
    overflow-x: hidden;
}

.main {}

.container {

    max-width: 1000px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.nav {
    display: flex;
    border-radius: 10px;
    background-color: #161616;
    z-index: 3;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.342);
    list-style: none;
}

li {
    font-size: 1rem;
    z-index: 3;
    transition: all 0.2s;
}

li:hover {
    color: #FA8B2F;
}

.head {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: fixed;
    top: 0px;
    z-index: 1;
    left: 0px;
}

.logo img {
    width: 300px;
    border-radius: 50%;
    border: 20px solid #161616;
    box-shadow: 18px 18px 36px #0f0f0f,
        -18px -18px 36px #1d1d1d;
    transition: all 0.3s;
}

.logo img:hover {
    box-shadow: 9px 9px 18px #0f0f0f,
        -9px -9px 18px #1d1d1d;
}

.head-info {
    width: 400px;
}

.head-info .para {
    font-size: 1.1rem;
}

.h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #FA8B2F;
    margin-top: 4rem;
    text-align: center;
}

.para {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem
}

.btn {
    background-color: #FA8B2F;
    color: black;
    border-radius: 7px;
    padding: 0rem 1rem;
    box-shadow: 3px 5px #161616, 5px 7px #FA8B2F;
    transition: all 0.2s;
    cursor: pointer;
    font-family: "Bungee";
}

.btn:hover {
    box-shadow: none;
    transform: translate(5px, 7px);
}

.h2 {
    text-align: center;
    margin: 3rem 0rem;
}

.main-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100vh;
    background-color: #161616cb;
    border-radius: 70px 70px 0px 0px;
    z-index: 2;
    border-top: 50px solid #05263b00;
    position: relative;
    margin-bottom: 2rem;
}


.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: auto;
}

.box {
    background-color: #252525;
    border-radius: 10px;
    /* backdrop-filter: blur(10px); */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.2s;
    user-select: none;
    /* border: 1px solid rgba(128, 128, 128, 0.171); */

}

.p-info {
    padding: 1rem 2rem;

}

.price:hover {
    transform: translate(7px, 9px);
    box-shadow: none;
}


.p-title {
    font-size: 2rem;
    background-color: #252525;
    /* text-shadow: 3px 4px 0px black; */
    color: #FA8B2F;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    font-family: "Bungee";
    border-bottom: 5px solid #161616;
    text-shadow: 0px 0px 20px #fa8a2f5d;

}

.features {
    list-style: none;
    border-radius: 10px;
}

.feature {}

.price {
    background-color: #161616;
    /* color: cyan; */
    margin: 1rem 0rem;
    font-size: 1.5rem;
    border: 3px solid #FA8B2F;
    text-align: center;
    border-radius: 10px;
    transition: all 0.2s;
    font-family: "Bungee";
    box-shadow: 3px 5px #161616, 5px 7px #FA8B2F, 0px 0px 10px #fa8a2f9d;
    color: #FA8B2F;
}

.f {
    color: #FA8B2F;
    display: inline;
}

.price:hover {
    background-color: #FA8B2F;
    color: #161616;
}

#particles-js {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.boxes2 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
}

.box2 {
    backdrop-filter: blur(5px);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.733);
    transition: all 0.2s;
}

.box2:hover {
    transform: translateY(-10px) scale(1.03);
}

.box2:hover img {
    filter: grayscale(0%);
}


#b1 {
    grid-column: 1/3;
}

#b2 {
    grid-column: 3/5;

}

#b3 {
    grid-column: 5/7;
}

#b4 {
    grid-row: 2/3;
    grid-column: 2/4;
}

#b5 {
    grid-row: 2/3;
    grid-column: 4/6;
}

.t-text {
    padding: 1rem;
    font-size: 1.1rem;
}

.t-author {
    font-size: 0.9rem;
    color: #FA8B2F;
    padding: 1rem;
}


.box2 img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 10px #000910;
    filter: grayscale(50%);
    transform: all 0.2s;
}

#b1 {
    background-color: #3b090528;
}

#b2 {
    background-color: #053b0e28;
}

.h3 {
    font-size: 1.3rem;
    text-align: center;
    border-radius: 10px;
    color: #eca66d;
}

.c-boxes {
    width: 80%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    background-color: #252525;
    padding: 2rem;
    border-radius: 10px;
}

.c-box {
    padding: 0rem 2rem;
    border-radius: 10px;
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    color: #FA8B2F;
    background-color: #161616;
    border: 3px solid #FA8B2F;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    font-family: "Bungee";
}

.dc {
    width: 50px;
    border-right: 4px solid #252525;
    padding-right: 1rem;
}

.c-box:hover {
    box-shadow: 0px 0px 30px #fa8a2f54;
}

#close {
    display: none;
}

.menu {
    display: none;
}


@media only screen and (max-width: 900px) {
    * {
        user-select: none;
    }

    .container {
        width: 100vw;
        max-width: unset;
    }

    .navbar {
        display: none;
        background: #161616;
        position: relative;
    }

    .nav {
        flex-direction: column;
        width: 90vw;
        position: fixed;
        top: 0px;
        gap: 1rem;
        padding-top: 1rem;
    }

    li {
        font-size: 1.2rem;

    }

    .head {
        flex-direction: column;
        gap: 1rem;
    }

    .h1 {
        margin-bottom: 1rem;
    }


    .menu {
        display: inline-block;
        text-align: center;
        background: #161616;
        color: #FA8B2F;
        position: fixed;
        top: 0px;
        z-index: 90;
        left: 0px;
        width: 100%;
        padding: 1rem 0rem;

        font-size: 1.3rem;
        font-family: "Bungee";
    }

    #close {
        background: #161616;
        color: #FA8B2F;
        border-radius: 7px;
        transition: all 0.2s;
        width: 70%;
        padding: 0.5rem;
        cursor: pointer;
        font-family: "Bungee";
        text-align: center;
        margin-bottom: 0.5rem;
    }


    .head-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 370px;
        background: #0f0f0f4b;
        padding: 1rem 0rem;
    }

    .logo {}

    .logo img {
        width: 200px;
        box-shadow: 14px 14px 28px #0a0a0a,
            -14px -14px 28px #141414;
        border: 20px solid #0f0f0f;
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
    }

    .scrollimg {
        display: block;
    }

    .para {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 1.1rem;
        margin: 0;
        padding: 1rem;
        text-align: justify;
    }

    .p-info .para {
        width: 100%;
        padding-bottom: 1rem;
        text-align: left;

    }

    .buttons {
        margin: 1rem 0rem;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .boxes2 {
        display: flex;
        flex-direction: column;
        padding: 0rem 2rem;
    }

    .main-content {
        border-top: none;
        border-radius: 20px;
        margin-top: 90vh;
        background-color: #161616;
    }

    .p-title,
    .price {
        padding: 1rem 0rem;
    }

    .t-text {
        text-align: center;
    }

    .c-boxes {
        width: 80%;
    }

    .contact-boxes {
        flex-direction: column;
        gap: 0rem;
    }

    .c-box {
        font-size: 1.5rem;
        width: 200px;
        margin: 1rem 0rem;
        padding: 0.5rem 1rem;
        z-index: 100;
    }

    .features{
        padding: 1rem;
    }

    .dc {
        width: 30px;
        padding-right: 0.25rem;
    }

    .teams-container {
        width: 100%;
    }

    .left {
        /* display: none!important; */
        left: 5px;
        font-size: 3rem;
    }

    .right {
        /* display: none!important; */
        right: 5px;
        font-size: 3rem;

    }

    .teams {
        padding: 0;
        overflow: hidden;

    }

    .team-box {
        flex-direction: column;
        padding: 0;
    }

    .snaps-inline {}

    .team-img {
        width: 60px;
    }

    .team {
        flex-direction: row;
        justify-content: left;
        height: unset;
        width: 220px;
        align-items: center;
    }
}